<%= render 'notify' %>
    
    <div class="container">
        <div id="page-content">
            <h1 class="text-center mt-4">All Products</h1>
        </div>
    <%= paginate @products %>
    <div>
    <%= render 'product' %>
    </div>
    <br/>
    <%= paginate @products %>
    </div>