<div class="container">
    <div id="page-content">
    <h1 class="text-center mt-4">All products</h1>
    <%= render 'product' %>
    </div>
    
    <div class="text-center">
        [<%= link_to 'Create new ad',new_product_path %> | <%= link_to 'Home', root_path %>]
    </div>
</div>