<% if !logged_in? %>
    <p class="text-center bg-warning">You must be logged in to <strong>Buy</strong> any product or <strong>Add any Reviews</strong>.
    Click here to <%= link_to 'Login now', login_path, class: "btn btn-outline-dark" %></p>
<% end %>

<div class="container">
    <div id="page-content">
    <h1 class="text-center mt-4">All products</h1>
    <%= render 'product' %>
    </div>
    
    <div class="text-center">
        [<%= link_to 'Create new ad',new_product_path %> | <%= link_to 'Home', root_path %>]
    </div>
</div>